#!/usr/bin/env sh

# Layout & look
yabai -m config layout                bsp
yabai -m config window_gap            2
yabai -m config top_padding           2
yabai -m config bottom_padding        2
yabai -m config left_padding          2
yabai -m config right_padding         2

# Focus follows mouse (no autoraise)
yabai -m config focus_follows_mouse   autofocus

# Keep meeting apps floating (don’t tile)
yabai -m rule --add app="zoom.us"           manage=off
yabai -m rule --add app="Amazon Chime"      manage=off

# Pin apps to displays (1 = external, 2 = built-in; swap if needed)
yabai -m rule --add app="Slack"             display=1
yabai -m rule --add app="Ghostty"           display=1
yabai -m rule --add app="Postman"           display=1
yabai -m rule --add app="Google Chrome"     display=1
yabai -m rule --add app="zoom.us"           display=2
yabai -m rule --add app="Amazon Chime"      display=2

# start/restart service (Homebrew)
# brew services restart yabai
